@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Renting - ASP.NET project by wireless000</h1>
    <p><a href="https://github.com/wireless000/MovieRent_ASP.NET_MVC" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

